@use '../../lib/service.scss' as s;

.field-text {
  display: flex;
  flex-direction: column;
  gap: s.space(1);
  width: 100%;
}

.field-text__label {
  color: #808080;
}

.field-text__value {
  color: #000;
}
