<main class='main container'>
  <section class='mt-5 mb-5'>
    <div class=''>
      <div class='card shadow'>
        <div class='card-body row g-4'>
          <div class='col-md'>
            <h5 class='card-title'>{{title}}</h5>
            <p class='m-0'>{{info}}</p>
          </div>
          <div
            class='col-md d-flex justify-content-end align-items-center'
          >
            <a
              href='/product-list'
              class='btn btn-primary px-5'
            >Повернутись назад</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>