{{> navigation}}
<main class='main container'>
  <section class='mb-5'>
    <h1 class='text-primary mt-5 mb-3'>Список товарів</h1>
    <div class='row row-cols-1 row-cols-md-3 g-4'>
      {{#with data.products}}
        {{#if isEmpty}}
          <mark>Список товарів пустий</mark>
        {{else}}
          {{#each list}}
            {{> product-card id=id name=name description=description price=price}}
          {{/each}}
        {{/if}}
      {{/with}}
    </div>
  </section>
</main>